{{>menuLoggedUser}}
<div class="mainContainer">
    <h1>Perfil del Usuario</h1>
    <hr>

    <h2>Datos de:{{user.nombre}}</h2>
    <p>{{user.email}}</p>
    <p>{{user.rol}}</p>
    <p>Id# de tu Carrito:{{user.cart}}</p>
</div>
